.ButtonIcon {
    font-size: 4rem;
    padding: 8px 15px;
    border-radius: 8px;
    background: #5b555e88;
    margin-left: 20px;
    color: #773b8e;
}
.ButtonIcon:hover {
    opacity: 0.8;
}

@media (max-width: 768px) {
    .ButtonIcon {
      font-size: 2rem;
      padding: 5px 10px;
      border-radius: 5px;
    }
  }