.landingContainer {
    padding: 1rem 5rem;
    height: 95vh;
    background-image: url("https://res.cloudinary.com/negocioexitoso-online/image/upload/v1635450671/back4_m7gyfy.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @media (max-width: 450px) {
        background-image: url("https://res.cloudinary.com/negocioexitoso-online/image/upload/v1635450839/portback_vgzmxz.png");
    }
    @include media(sm) {
        padding: 0;
        width: 100%;
        height: 100vh;
        /*     background-image: url("https://res.cloudinary.com/negocioexitoso-online/image/upload/v1635450839/portback_vgzmxz.png"); */
    }
}
.info {
    margin-top: 5rem;
    width: 400px;
    display: flex;
    flex-direction: column;
    .info-container {
        width: 65%;
        margin: 3rem 0;
        span {
            color: $descLanding;
        }
    }
    @include media(sm) {
        margin-top: 0;
        padding-top: 7rem;
        width: 100%;
        .info-container {
            margin-top: 0;
            width: 100%;
        }
    }
    .buttonMap {
        display: block;
        border-radius: 40px;
        border: none;
        padding: 1rem 1.5rem;
        width: 100%;
        margin: 3rem 0;
        background: $primaryLanding;
        color: white;
        cursor: pointer;
        font-size: 1.1rem;
        text-decoration: none;
        text-align: center;
        transition: 0.3s ease all;
        &:hover {
            background: darken($color: $primaryLanding, $amount: 25);
        }
        @include media(sm) {
            width: 80%;
        }
    }
    .title {
        h2 {
            font-size: 3rem;
            margin: 0;
            outline: none;
            color: $titleLanding;
        }
    }
}

.header {
    margin: 1.5rem 0;
    display: flex;
    justify-content: space-between;
    transition: 0.5s ease all;

    @include media(sm) {
        margin: 0;
        flex-direction: column;
        position: absolute;
        width: 100%;
        z-index: 1000;
        background: $primaryLanding;
    }
    .logo {
        @include media(sm) {
            background: $primaryLanding;
            margin: 0;
            border-bottom: 1px solid black;
            padding: 1.1rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    .enlaces {
        transition: 0.5s ease all;
        &.openMenu {
            transform: translate(0%);
        }
        &.closeMenu {
            transform: translate(-150%);
            display: none;
        }
        .link {
            @include media(sm) {
                display: flex;
                background: $primaryLanding;
                padding: 1.1rem;
                color: white;
                margin: 0rem;
            }
            color: $titleLanding;
            font-size: 1.1rem;
            text-decoration: none;
            margin: 0 1rem;
            transition: 0.3s ease all;
            &:hover {
                color: $primaryLanding;
            }
            &.active {
                font-weight: bold;
                border-bottom: 3px solid $primaryLanding;
                color: $primaryLanding;
                @include media(sm) {
                    color: black;
                }
            }
        }
    }
}
