:root {
    --main-bg-color: brown;
    --primary-color: #01c8b3;
    --primary-dark-color: #1f2430;
    --dash-background: #2b2f48;
    --secondary-color: --dash-background;
    --color-text: #49546b;

    --text-color: #49546b;
    --dash-title-color: #424869;

    --hover-color: #4261e1;

    --radius: 10px;

    /* landing page variables */

    --titleLanding: #464646;
    --descLanding: #ababab;
    --primaryLanding: #428fa3;
    --green: #458e7f;
    --white: #ffffff;
}
