@import "variables";
@import "mediaQuery";
@import "shared";
@import "loginAdmin";
@import "landingPage";
@import "ley1171";
@import "header";
body {
  margin: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}
body {
  transition: 0.3s ease all;
  &.blackTheme {
    background: $primary-dark-color;
    color: white;
    .header {
      @include media(sm) {
      }
      .logo {
        @include media(sm) {
          background: $back-ground-responsive;
        }
      }
      .enlaces {
        .link {
          color: white;

          @include media(sm) {
            background: $back-ground-responsive;
          }

          &:hover {
            color: $back-ground-responsive;
          }
          &.active {
            color: white;

            border-bottom: 3px solid $back-ground-responsive;
          }
          &.active {
            @include media(sm) {
            }
          }
        }
      }
      .info .buttonMap {
        background: $back-ground-responsive;
      }
    }

    .info {
      .info-container {
        span {
          color: white;
        }
      }
      @include media(sm) {
        .info-container {
        }
      }
      .buttonMap {
        &:hover {
        }
        @include media(sm) {
          background: $back-ground-responsive;
        }
      }
      .title {
        h2 {
          color: white;
        }
      }
    }
  }
}
//dark theme
